{
    "plugins": [
        ["@babel/plugin-transform-runtime"]
    ],
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": "commonjs"}],
        "@babel/preset-typescript"
    ],
    "sourceMaps": true,
    "retainLines": true
}
