**/.*
build
node_modules
hot
/lib/static/*.min.js
/lib/static/data.js
/lib/static/sql-wasm.js
/test/func/**/report
/test/func/**/report-backup
/test/func/**/reports
/test/func/packages/*/plugin.js
/hermione-report
tmp
