node_modules
hot
*.log
/lib/static/*.min.*
/lib/static/*.eot
/lib/static/*.ttf
/lib/static/*.svg
/lib/static/data.js
/lib/static/images
/lib/static/gui.html
/lib/static/index.html

.idea
.vscode
.nyc_output

hermione-report
/test/func/fixtures/report
