node_modules
build
hot
sqlite.db
*.log
/lib/static/*.min.*
/lib/static/*.eot
/lib/static/*.ttf
/lib/static/*.svg
/lib/static/data.js
/lib/static/images
/lib/static/gui.html
/lib/static/index.html
/lib/static/sql-wasm.js
/lib/static/sqlite.db
/lib/static/databaseUrls.json

.idea
.vscode
.DS_Store
.nyc_output
tmp
**/.testplane
html-reporter-*.tgz

**/playwright-report
hermione-report
testplane-report
test/func/**/report
test/func/**/report-backup
test/func/**/reports
test/func/packages/*/plugin.js
test/func/fixtures/playwright/test-results
@
