.sticky-header
    display contents

    .sticky-header__wrap
        position fixed
        width 100%
        height 40px
        z-index 1000
        text-align center
        background-color white
        border-bottom 1px solid #ccc
        transition transform 250ms ease-out 500ms
        transform-origin top
        transform translateY(-100%)

        &::before
            transform translateY(50%) rotate(180deg)

    .sticky-header__content
        position sticky
        top 0
        width 100%
        z-index 1100
        transform-origin top
        transition transform 250ms linear 250ms
        background-color white
        border-bottom 1px solid #ccc

    &.sticky-header_unwrapped .sticky-header__wrap
        transition-delay 0ms

    &.sticky-header_wrapped:not(:hover)
        .sticky-header__wrap
            transform translateY(0)

        .sticky-header__content
            transform translateY(-100%) scaleY(0)
