.history {
    white-space: pre-wrap;
    word-wrap: break-word;
    
    .history-item {
        display: inline-flex;
        padding-right: 8px;
        padding-top: 1px;
        padding-bottom: 1px;

        gap: 4px;

        .history-item__time {
            opacity: 0.5;
        }
    }
}
