.switch-diff
    display: grid
    grid-template-areas: 'one one'
    max-width: max-content
    cursor: pointer

    &__img
        grid-area: one
        max-width: 100%
        pointer-events: none
        user-select: none
        border: 1px solid #ccc
