.diff-modes
    display: flex
    justify-content: center
    margin: 10px auto

.image-box__scaled
    display: flex
    flex-flow: row wrap

    .image-box__image
        padding: 0 5px

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0
