.diff-modes
    display: flex
    justify-content: center
    border-bottom: 1px solid #ccc
    padding: 5px 0
    margin: 10px auto
    width: 420px

    &__item
        display: inline-block
        padding: 0 5px
        cursor: pointer

    &__item:not(:last-child)
        border-right: 1px solid #ccc

    &__active
        font-weight: bold

.image-box__scaled
    display: flex
    flex-flow: row wrap

    .image-box__image
        padding: 0 5px

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0
