.onion-skin-diff
    &__img-container
        display: grid
        grid-template-areas: 'one one'
        max-width: max-content

    &__img
        max-width: 100%
        grid-area: one
        border: 1px solid #ccc

    &__footer
        display: flex
        justify-content: center

    &__slider
        width: 250px
        margin-top: 10px
        cursor: pointer
