.onion-skin-diff
    &__images-container
        position: relative

    &__img-container
        max-width: 100%
        position: absolute

    &__img
        position: absolute
        pointer-events: none
        user-select: none

        width: 100%
        height: 100%
        left: 0
        top: 0

    &__footer
        display: flex
        justify-content: center

    &__slider
        width: 250px
        margin-top: 10px
        cursor: pointer

/*
.onion-skin-diff
    &__images-container
        display grid
        // position: relative

    &__img-container
        // max-width: 100%
        // position: absolute
        // grid-area: 1 / -1

    &__img
        max-width: 100%
        grid-area: 1 / -1

        // position: absolute
        // pointer-events: none
        // user-select: none

        // width: 100%
        // height: 100%
        // left: 0
        // top: 0

    &__footer
        display: flex
        justify-content: center

    &__slider
        width: 250px
        margin-top: 10px
        cursor: pointer
*/
