.g-popup
    z-index 9999
.browserlist__filter
    width 100%
    display inline-flex
    justify-content center
    padding 4px 4px

.browserlist__row
    width 100%
    display flex
    align-items center
    gap 4px

    .browserlist__row_content
        flex 1 1 auto

    .action-button
        opacity 0
        
.g-select-list__option:hover
    .browserlist__row
        .action-button
            opacity 1

.browserlist__popup
    .g-select-list__option
        gap 8px
        flex-direction: row-reverse

.browser-name
    display inline-flex
    gap 4px

.browserlist
    width 250px