.rct-label
    .rct-label__title
        margin-right 25px

    .rct-label__controls
        cursor pointer
        width 70px
        margin-left auto
        border none
        border-radius 5px
        background-color inherit
        opacity 0.5
        transition background-color 150ms linear,
                    opacity 150ms linear

        &:hover
            background-color #99999950
            opacity 1
